<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3d4102064ab74ec3ac26bc1736a71493 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_3d4102064ab74ec3ac26bc1736a71493" ></div>
        
</body>
<script>    
    
            var map_3d4102064ab74ec3ac26bc1736a71493 = L.map(
                "map_3d4102064ab74ec3ac26bc1736a71493",
                {
                    center: [-6.917630172543886, 107.59727293710387],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0fde502bdc3249a8a7b5058767202627 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3d4102064ab74ec3ac26bc1736a71493);
        
    
            var poly_line_75d7f37782754156af23721cc1e54406 = L.polyline(
                [[-6.9185294, 107.5965934], [-6.9185667, 107.5967261], [-6.9186173, 107.5968455]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_3d4102064ab74ec3ac26bc1736a71493);
        
    
            var poly_line_5f62ccda4b534ff5860ae04c4f318075 = L.polyline(
                [[-6.9186173, 107.5968455], [-6.918359, 107.5968978], [-6.9179117, 107.597046], [-6.9177293, 107.597113], [-6.9175309, 107.5971606]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_3d4102064ab74ec3ac26bc1736a71493);
        
    
            var poly_line_5cb1ecb702bc493fa1987225372af58f = L.polyline(
                [[-6.9175309, 107.5971606], [-6.9170187, 107.5972764]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_3d4102064ab74ec3ac26bc1736a71493);
        
    
            var poly_line_5d70282de096449bb9259f12c9942aa1 = L.polyline(
                [[-6.9170187, 107.5972764], [-6.9170235, 107.5973458], [-6.9170543, 107.5977293], [-6.917069, 107.5979265], [-6.9170862, 107.5980969], [-6.9170903, 107.5982608]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_3d4102064ab74ec3ac26bc1736a71493);
        
    
            map_3d4102064ab74ec3ac26bc1736a71493.fitBounds(
                [[-6.9186173, 107.5965934], [-6.9170187, 107.5982608]],
                {}
            );
        
    
            var marker_26eef95f339943d095eae7c0fd7ac4b9 = L.marker(
                [-6.918457, 107.596584],
                {}
            ).addTo(map_3d4102064ab74ec3ac26bc1736a71493);
        
    
            var icon_c435ca3a87b948b5be583fd5d766e308 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_26eef95f339943d095eae7c0fd7ac4b9.setIcon(icon_c435ca3a87b948b5be583fd5d766e308);
        
    
            var marker_31e2739bd893441fa9adf42f3206b6fe = L.marker(
                [-6.917149, 107.598233],
                {}
            ).addTo(map_3d4102064ab74ec3ac26bc1736a71493);
        
    
            var icon_aef4f531e02b48878f3a57186648a846 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_31e2739bd893441fa9adf42f3206b6fe.setIcon(icon_aef4f531e02b48878f3a57186648a846);
        
</script>